absl-py==2.4.0
astunparse==1.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cryptography==46.0.6
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
flatbuffers==25.12.19
fonttools @ file:///C:/bld/fonttools_1773137436265/work
gast==0.4.0
google-auth==2.49.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.80.0
h5py==3.16.0
idna==3.11
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1773067061/work
libclang==18.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.8
munkres==1.1.4
numpy==1.26.0
oauthlib==3.3.1
opencv-python==4.11.0
opencv-python-headless==4.11.0
opt_einsum==3.4.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
protobuf==5.29.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.8.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
requests==2.33.0
requests-oauthlib==2.0.0
shiboken6==6.8.3
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
tornado @ file:///D:/bld/tornado_1774357955344/work
typing_extensions==4.15.0
unicodedata2 @ file:///D:/bld/unicodedata2_1770908984535/work
urllib3==2.6.3
Werkzeug==3.1.7
wrapt==2.1.2
